.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Tahoma';
    outline: 5px solid darkblue;
    height: 98vh;
}
.table {
    display: block;
}
.rc {
    padding-left: 30px;
}

td {
    border-bottom: 1px solid grey;
}

.table_header {
    font-weight: bold;
}

.rooler {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    overflow: hidden;
    height: 100px;
    background-image: url("ruler.svg");
    background-repeat: repeat-x;
}